<h1> Welcome to {{model.name}} </h1>

{{city-tile city=model destroyCity="destroyCity"}}
<!-- {{city-tile city=model}} -->

{{new-rental saveRentalInsideCityRouteFromComponent="saveRentalInsideCityRouteFromTemplate" city=model}}
