<h1> Welcome to {{model.name}} </h1>

{{new-rental saveRentalInsideCityRouteFromComponent="saveRentalInsideCityRouteFromTemplate" city=model}}

{{city-tile city=model destroyCity="destroyCity"}}

{{#link-to 'index'}}back home{{/link-to}}
